html, body {
    height: 100%;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  .task-card:hover {
    cursor: grab;
  }
  
  article.alert {
    background-color: rgb(240, 255, 196) !important;
  }
  
  article.past-due {
    background-color: rgba(240, 0, 0, 0.551) !important;
    }
  
  article.done {
    background-color: rgba(154, 245, 165, 0.432) !important;
  }